<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy</title>
  </head>
  <body>
    <div>
      <table>
        <tr>
          <td>Name</td>
          <td>{{ product.name }}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{ product.price }} {{ product.unit }}</td>
        </tr>
        <tr>
          <td>Availability</td>
          {% if product.stock == 0 %}
          <td>Out of stock</td>
          {% else %}
          <td>In Stock</td>
          {% endif %}
        </tr>
      </table>
    </div>
    <form method="POST" action="/buyproduct">
      <input type="hidden" value="{{ user_id }}" name="user_id" />
      <input type="hidden" value="{{ product.product_id }}" name="product_id" />
      <label>Quantity</label>
      <input type="text" name="quantity" required />
      <input type="submit" value="Buy" />
    </form>
  </body>
</html>
