<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm</title>
  </head>
  <body>
    <div>
      <form action="/categoryapi/delete" method="POST">
        <input type="hidden" value="{{ category_id }}" name="category_id" />
        <label>Are you sure you want to delete the above items.</label>
        <select name="delete_choice">
          <option value="NO">NO</option>
          <option value="YES">YES</option>
        </select>
        <input type="submit" value="delete" />
      </form>
    </div>
  </body>
</html>
