<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Category</title>
  </head>
  <body>
    <div>
      <form action="/categoryapi/edit" method="POST">
        <label>Category name:</label>
        <input type="hidden" value="{{ category_id }}" name="category_id" />
        <input
          name="category_name"
          value="{{ category_name }}"
          type="text"
          required
        />
        <input type="submit" value="Change" />
      </form>
    </div>
  </body>
</html>
