<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <form action="/productapi/edit" method="post">
      <input type="hidden" value="{{ product_id }}" name="product_id" />
      <input type="hidden" value="{{ category_id }}" name="category_id" />
      <label>Product name</label>
      <input type="text" name="changed_name" value="{{ product.name }}" />
      <label>Price per unit</label>
      <input type="text" name="changed_price" value="{{ product.price }}" />
      <label class="form_label">Unit</label>
      <select name="changed_unit" required>
        <option value="Rs/kg">Rs/kg</option>
        <option value="Rs/litre">Rs/litre</option>
        <option value="Rs/dozen">Rs/dozen</option>
        <option value="Rs/box">Rs/box</option>
      </select>
      <label>Stock</label>
      <input type="text" name="changed_stock" value="{{ product.stock }}" />
      <label class="form_label"
        >Is it possible to sell fractions of product.(Yes for products like rice
        flour and No for products like oil packets, soaps).</label
      >
      <select name="fractal_allowed" required>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>
      <input type="submit" value="Change" />
    </form>
  </body>
</html>
