<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/common.css" />
    <title>Home</title>
  </head>
  <body class="top_flex">
    <div class="sub_flex">
      <a href="user" class="common_link">User</a>
    </div>
    <div class="sub_flex">
      <a href="manager" class="common_link">Manager</a>
    </div>
  </body>
</html>
